/* Loading Gif Styling */
.loading-gif {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url(https://media.giphy.com/media/mBuuwdbwYhiIj35kUL/source.gif) center no-repeat #F7F1EF;
}

body {
    background-color: #fafafa;
}

/* Table */

td.dc-table-label {
    display: none;
}

/* Testing Row Chart */
#testingAvailability1-row rect {
    fill: url(#testingAvailability1);
}

#testingThousandAvailability1-row rect {
    fill: url(#testingThousandAvailability1);
}

rect {
    rx: 3;
    shape-rendering: crispEdges;
}

.dc-chart g.row text {
    fill: rgb(27, 28, 29);
}

/* Row Chart Bar Gradient */
.one-stop {
    stop-color:#00b5ad
}
.two-stop {
    stop-color: #5fb0ae;
}
.three-stop {
    stop-color: #75aead;
}
.four-stop {
    stop-color:#88abab;
}